<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>ac.za.tut.regservlet.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ac.za.tut.loginservlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipmentServlet</servlet-name>
        <servlet-class>ac.za.shipmentservlet.CreateShipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackingServlet</servlet-name>
        <servlet-class>ac.za.tut.trackingservlet.TrackingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewShipmentServlet</servlet-name>
        <servlet-class>ac.za.tut.viewshipmentservlet.ViewShipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditShipmentServlet</servlet-name>
        <servlet-class>ac.za.tut.editshipment.EditShipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteShipmentServlet</servlet-name>
        <servlet-class>ac.za.tut.deleteshipment.DeleteShipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <servlet-class>ac.za.tut.updatepassword.UpdatePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateShipmentServlet</servlet-name>
        <servlet-class>ac.za.tut.updateshipment.UpdateShipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDriverServlet</servlet-name>
        <servlet-class>ac.za.tut.driver.CreateDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDriverServlet</servlet-name>
        <servlet-class>ac.za.tut.driver.GetDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverAssinedShipmentServlet</servlet-name>
        <servlet-class>ac.za.servlets.DriverAssginedShipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetShipmentServlet</servlet-name>
        <servlet-class>ac.za.servlets.GetShipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestartRegistrationServlet</servlet-name>
        <servlet-class>ac.za.tut.driver.RestartRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetDefaultDriver</servlet-name>
        <servlet-class>ac.za.tut.defaultdriver.SetDefaultDriver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <servlet-class>ac.za.servlets.UpdateStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCurrentStatusServlet</servlet-name>
        <servlet-class>ac.za.servlets.ViewCurrentStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollectionReportServlet</servlet-name>
        <servlet-class>ac.za.servlets.CollectionReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryReportServlet</servlet-name>
        <servlet-class>ac.za.servlets.DeliveryReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipmentServlet</servlet-name>
        <url-pattern>/ShipmentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackingServlet</servlet-name>
        <url-pattern>/TrackingServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewShipmentServlet</servlet-name>
        <url-pattern>/ViewShipmentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditShipmentServlet</servlet-name>
        <url-pattern>/EditShipmentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteShipmentServlet</servlet-name>
        <url-pattern>/DeleteShipmentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <url-pattern>/UpdatePasswordServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateShipmentServlet</servlet-name>
        <url-pattern>/UpdateShipmentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDriverServlet</servlet-name>
        <url-pattern>/CreateDriverServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDriverServlet</servlet-name>
        <url-pattern>/GetDriverServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverAssinedShipmentServlet</servlet-name>
        <url-pattern>/DriverAssinedShipmentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetShipmentServlet</servlet-name>
        <url-pattern>/GetShipmentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestartRegistrationServlet</servlet-name>
        <url-pattern>/RestartRegistrationServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetDefaultDriver</servlet-name>
        <url-pattern>/SetDefaultDriver.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <url-pattern>/UpdateStatusServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCurrentStatusServlet</servlet-name>
        <url-pattern>/ViewCurrentStatusServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollectionReportServlet</servlet-name>
        <url-pattern>/CollectionReportServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryReportServlet</servlet-name>
        <url-pattern>/DeliveryReportServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
